@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');





.aktip {
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: black;
}



.Pkartu {
    border-top: 1px solid rgb(218, 218, 218);
}



.kartu {
    /* margin-top: 10px; */
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr"auto "1fr 1fr 1fr 1fr 1fr"auto "1fr 1fr 1fr 1fr 1fr"auto;

    grid-gap: 10px;
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 10px;
}

.kartu .box {
    margin-top: 10px;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    margin-bottom: 10px;

}

.kartu .box.ilang {
    box-shadow: none;
}


.kartu .box.sort {
    height: 40px;
    grid-column: span 5;
    box-sizing: border-box;
}

.row.content .col {
    margin: 0 4px;
    padding: 2px;
    margin-top: 10px;
    border-left: 1px solid rgb(218, 218, 218);

}

.row.content .col:nth-child(1) {
    border-left: none;
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.kartu .box img {
    width: auto;
    height: 33.33vh;
    /* background-size: cover; */
    object-fit: cover;
}


.tombol {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



.Tampil {

    overflow: hidden;
}


.about {
    padding: 10px;
    width: 100%;
    height: 300px;
    background: rgb(170, 170, 170);
}



#canvas {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}



.form {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

.form-group.kirim {
    position: relative !important;
    width: 400px;
}

/* .form-group label {
    text-align: center;
} */

.kirim {
    position: relative !important;
    left: 50%;
    transform: translateX(-50%);
}




/* .music {
    position: relative;
    text-align: center;
    bottom: 0;
    background: black;
    color: white;
} */
/* a
aaa */


.size {
    width: 100%;
    height: 100%;
}

.Gimg {
    width: 100%;
    height: 100vh;
    /* background-size: cover; */
    object-fit: cover;

}

.input-group.mt-1 {


    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.form-control,
.input-group-append {
    margin-bottom: 6px;
    height: 100%;
    /* width: 100%; */
}

.carousel {
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* background-size: cover; */
}

.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.isi {
    box-sizing: border-box;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(170, 170, 170);
}

.fas,
.fab {
    font-size: 50px;
}

.copyright {
    margin-top: 100px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* background: rgb(44, 44, 44); */

    color: white;
}

/* dekstop */
@media (min-width: 992px) {
    .navbar {
        height: 80px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .nav-item.nav-link:nth-child(1) {
        margin-left: 10px;
        background-color: rgb(0, 0, 94);
        border-radius: 4px;
    }

    .nav-item.nav-link:nth-child(2) {
        margin-left: 10px;
        background-color: rgb(116, 116, 116);
        border-radius: 4px;
    }

    .nav-item.nav-link:nth-child(3) {
        margin-left: 10px;
        background-color: rgb(58, 184, 79);
        border-radius: 4px;
    }

    .progress {
        padding: 40px;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
    }

    .pie,
    .pie1 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .iconT {
        overflow: hidden;
        width: 100%;
        height: 200px;
    }

    .fas,
    .fab {
        font-size: 100px;
    }

    /* #pesan,
    #kesan {
        width: 400px;


    } */
}

/* tablet */
@media (min-width: 768px) {


    .nav-item.nav-link {
        height: 50px;
        width: 100px;
        color: white !important;
        text-align: center;
        line-height: 30px;
    }

    .progress {
        display: block !important;
        width: 100%;
        height: 100%;
    }



}

@media (min-width: 576px) {
    .progress {
        display: block !important;
        width: 100%;
        height: 100%;
    }

    .iconT {
        overflow: hidden;
        width: 100%;

    }
}

@media (max-width: 575px) {
    .progress {
        display: block !important;
        width: 100%;
        height: 100%;
    }

    .iconT {
        overflow: hidden;
        width: 100%;

    }
}

/* untuk hp */
@media (max-width: 294px) {
    .navbar {

        height: 0;
    }

    .nav-item.nav-link {
        width: 0;
        height: 0;
    }

    .progress {

        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
    }

    .iconT {
        overflow: hidden;
        width: 100%;

    }

    .fas,
    .fab {
        font-size: 20px;
    }



    .form {
        /* height: 1000px; */
        padding: 0;
        margin: 4px 0 0 0;
        line-height: 0;
    }

    .form-group {
        margin: 0;
    }

    .form-group.kirim {
        position: relative !important;
        width: 200px;

    }

    .kirim {

        position: relative !important;
        left: 50%;
        transform: translateX(-50%);
    }





}