@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


body {
    background-color: rgb(228, 228, 228) !important;
}


.aktip {
    margin-left: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    color: rgb(138, 0, 0);
}

.play {
    text-decoration: none !important;
    color: rgb(247, 157, 55);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.play:hover {
    color: red;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

.tombol {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



.Tampil {

    overflow: hidden;
}


.about {
    padding: 10px;
    width: 100%;
    height: 300px;
    background: rgb(170, 170, 170);
}

.imgLagu {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

#canvas {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

.row.tampilan {
    padding-left: 10px;
    padding-right: 10px;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

.form-group.kirim {
    position: relative !important;
    width: 400px;
}

/* .form-group label {
    text-align: center;
} */



.kirim {
    position: relative !important;
    left: 50%;
    transform: translateX(-50%);
}

.box.sort.ilang {
    margin-top: 20px;
    /* padding: 7px; */
}

.col-lg.atur {
    width: 100%;
    box-sizing: border-box !important;
    padding: 0;
}

/* .music {
    position: relative;
    text-align: center;
    bottom: 0;
    background: black;
    color: white;
} */
/* a
aaa */


.size {
    width: 100%;
    height: 100%;
}

.Gimg {
    width: 100%;
    height: 100vh;
    /* background-size: cover; */
    object-fit: cover;

}

.input-group.mt-1 {


    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.form-control,
.input-group-append {
    margin-bottom: 6px;
    height: 100%;
    /* width: 100%; */
}

.carousel {
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* background-size: cover; */
}

.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.isi {
    box-sizing: border-box;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(170, 170, 170);
}

.fas,
.fab {
    font-size: 50px;
}

/* .container.collection {
    background-color: aliceblue;
} */

.copyright {
    margin-top: 100px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* background: rgb(44, 44, 44); */

    color: white;
}

.tombolAksi {
    margin: 0 4px;
    position: relative !important;
    left: 25%;
    /* transform: translateX(-50%); */
}

/* .page {
    background-color: rgb(228, 228, 228) !important;
    border: none !important;
    outline: none !important;
} */
.kartu {
    filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.4));
}

.box.sort.cari {

    filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));

}

.parallax-container {
    height: 240px;
}

.thumb h4 {
    line-height: 100px;
}

.footerPlay {
    height: 200px;
}

.footerEnd {
    margin-bottom: 0;
    width: 100%;
    height: 60px;
    background-color: aqua;
}

.footerEnd p {
    line-height: 50px;
    margin-bottom: 0;
}


/* dekstop */
@media (min-width: 992px) {
    .navbar {
        height: 80px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .nav-item.nav-link:nth-child(1) {
        margin-left: 10px;
        background-color: rgb(0, 94, 78);
        border-radius: 4px;
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-item.nav-link:nth-child(2) {
        margin-left: 10px;
        background-color: rgb(0, 94, 78);
        border-radius: 4px;
    }

    .nav-item.nav-link:nth-child(3) {
        margin-left: 10px;
        background-color: rgb(0, 94, 78);
        border-radius: 4px;
    }

    .nav-item.nav-link:nth-child(1):hover {
        background-color: rgb(38, 255, 255);
        color: rgb(0, 68, 68) !important;
    }

    .nav-item.nav-link:nth-child(2):hover {
        background-color: rgb(38, 255, 255);
        color: rgb(0, 68, 68) !important;
    }

    .nav-item.nav-link:nth-child(3):hover {
        background-color: rgb(38, 255, 255);
        color: rgb(0, 68, 68) !important;
    }

    /* .col-lg-3.kartu {
        width: 100%;
        height: 100% !important;
    } */
    .imgLagu {
        width: 100%;
        height: 33.33vh;
        object-fit: cover;
    }

    .card.box.a {

        width: 100%;
        height: 100%;
    }



    /* .aksi {
        margin-top: 10px;
    } */

    .kartu {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
    }

    /* form.cari {
        margin-top: -10px;
        padding-left: -5px;
        padding-right: -5px;
        box-sizing: border-box;
    } */



    .progress {
        padding: 40px;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
    }

    .pie,
    .pie1 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .iconT {
        overflow: hidden;
        width: 100%;
        height: 200px;
    }

    .fas,
    .fab {
        margin-top: 10px;
        font-size: 60px;
    }

    /* #pesan,
    #kesan {
        width: 400px;


    } */

    .iconShare {
        text-align: center;
    }

    .iconShare a {
        text-decoration: none;
        margin: 0 20px;
    }

    .iconShare h1 {
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .iconShare .fa-instagram {
        color: rgb(255, 230, 0);
    }

    .iconShare .fa-facebook-f {
        color: blue;
    }

    .iconShare .fa-whatsapp {
        color: rgb(2, 219, 2);
    }

    .iconShare .fa-twitter {
        color: rgb(101, 101, 255);
    }
}

/* tablet */
@media (min-width: 768px) {


    .nav-item.nav-link {
        height: 50px;
        width: 100px;
        color: white !important;
        text-align: center;
        line-height: 30px;
    }

    .progress {
        display: block !important;
        width: 100%;
        height: 100%;
    }



}

@media (min-width: 576px) {
    .progress {
        display: block !important;
        width: 100%;
        height: 100%;
    }

    .iconT {
        overflow: hidden;
        width: 100%;

    }
}

@media (max-width: 575px) {
    .progress {
        display: block !important;
        width: 100%;
        height: 100%;
    }

    .iconT {
        overflow: hidden;
        width: 100%;

    }

    .tombolAksi {
        margin: 0 4px;
        position: relative !important;
        left: 35%;
        /* transform: translateX(-50%); */
    }
}

/* untuk hp */
@media (max-width: 294px) {
    .tombolAksi {
        margin: 0 4px;
        position: relative !important;
        left: 25%;
        /* transform: translateX(-50%); */
    }

    .navbar {

        height: 0;
    }

    .nav-item.nav-link {
        width: 0;
        height: 0;
    }

    .progress {

        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
    }

    .iconT {
        overflow: hidden;
        width: 100%;

    }

    .fas,
    .fab {
        font-size: 20px;
    }



    .form {
        /* height: 1000px; */
        padding: 0;
        margin: 4px 0 0 0;
        line-height: 0;
    }

    .form-group {
        margin: 0;
    }

    .form-group.kirim {
        position: relative !important;
        width: 200px;

    }

    .kirim {

        position: relative !important;
        left: 50%;
        transform: translateX(-50%);
    }





}